.dashboard-top {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding-bottom: 3.5rem;
}

.dashboard-title {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    font-size: 4rem;
}

.dashboard-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dashboard-button {
    padding: 0.7rem 0.8rem;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: #1879e1;
    width: 160px;
}

.add-category-button {
    background-color: #28a745;
}

.add-category-button:hover {
    background-color: #1e7e34;
}

.add-document-button {
    background-color: #1879e1;
}

.add-document-button:hover {
    background-color: #004187;
}

.table-cell {
    text-align: center; 
    padding: 0.75rem 1rem;
    border-bottom: 1px solid #e0e0e0;
    color: black;
}

button.table-cell {
    padding: 0.75rem 2rem;
    border: none;
    background-color: #4f46e5;
    color: white;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

button.table-cell:hover {
    background-color: #2a238a;
} 

.category-filter {
  margin: 1rem 0;
  font-size: large;
}

.category-dropdown {
  background-color: #f0f4f8;
  padding: 0.4rem 0.6rem;
  margin-left: 15px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.category-section {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-bottom: 1rem;
  overflow: hidden;
  font-size: large;
}

.category-header {
  background-color: #f5f5f5;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  font-size: x-large;
}

.category-header:hover {
  background-color: #c1ebcb;
}

.document-table {
  width: 100%;
  border-collapse: collapse;
}

.document-table th,
.document-table td {
  padding: 0.6rem;
  border-top: 1px solid #ddd;
  text-align: left;
}

.document-button {
  color: white;
  border: none;
  padding: 0.5rem 1.4rem;
  border-radius: 4px;
  cursor: pointer;
}

.view-button {
  background-color: #3182ce;
}

.view-button:hover {
  background-color: #004187;
}

.delete-button {
  background-color: #eb5656;
}

.delete-button:hover {
  background-color: #a33c3c;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 320px;
  text-align: center;
  display: flex;
  flex-direction: column; /* stack elements vertically */
  align-items: center;
}

.popup-content label {
  width: 100%;
  text-align: left;
  margin-bottom: 1rem;
  font-size: large;
}

.popup-content input {
  background-color: #f0f4f8;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: large;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.popup-add-category-button{
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1.0rem;
  border-radius: 4px;
  cursor: pointer;
}

.popup-cancel-button{
  background-color: #eb5656;
  color: white;
  border: none;
  padding: 0.5rem 1.0rem;
  border-radius: 4px;
  cursor: pointer;
}